# Web Frameworks
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
Flask-Session==0.8.0

# Database and Data Handling
# No third-party packages listed for database handling

# Networking
requests==2.32.3
urllib3==2.2.2
PySocks==1.7.1

# Utilities
beautifulsoup4==4.12.3
termcolor==2.4.0

# WSGI Server
gunicorn
