<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
<div class="base">
    <div class="navbar">
            <a href="/">Home</a>
            <a href="/add_a_movie">Add Movie</a>
            <a href="/movie_information">All Movies Information</a>
            <a href="/delete_movie">Delete Moive</a>
            <a href="/edit_movie">Edit Moive</a>
            <a href="/notes">Notes</a>
            <a href="/singin">SingIn</a>
            <a href="/singup">Singup</a>
            <a href="/logout">logout</a>
    </div>
    <div class="xcontainer">
    {%block content%}{%endblock%}
    </div>
</div>
</body>
</html>